<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="UTF-8">
    <script src="./angular/angular.min.js"></script>
    <script src="./angular/app.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch Checker</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="lista">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkIt()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{howmuch}}
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
