<div class="container">
    <h3>Here is your registered information!</h3>
    <p ng-if="ctrl.errorocurred || ctrl.initialize">You haven't sign up yet <a ui-sref="public.signup"><span>Sign up now!</span></a></p>
    <div class="container" ng-if="ctrl.ocurred==false">
        <p>This is your first name: {{ctrl.usuario.name}}</p>
        <p>This is your last name: {{ctrl.usuario.lname}}</p>
        <p>This is your email: {{ctrl.usuario.email}}</p>
        <p>This is your phone: {{ctrl.usuario.phone}}</p>
        <p>This is your favorite menu: {{ctrl.usuario.result.name}}</p>
        <img ng-src="{{ctrl.ThePath}}/images/{{ctrl.user.result.short_name}}.jpg">
        {{ctrl.usuario.result.description}}
    </div>
</div>