h1{
    font-size: 70px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
li{
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
    padding-left: 10px;
}
p{
    color: green;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    padding-left: 10px;
}
button{
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.tobuy{
    width: 100%;
}
.bought{
    width: 100%;
}