<div class="container"  ng-controller="SignUpController as ctrl" >
    <form name="sign" novalidate>
        <input type="text" name="firstname" placeholder="Enter your first name" ng-model="ctrl.user.fname" style="color: black;" required>
        <br>{{ctrl.user.fname}}
        <input type="text" name="lastname" placeholder="Enter your last name" ng-model="ctrl.user.lname" style="color: black;" required>
        <br>{{ctrl.user.lname}}
        <input type="email" name="email" placeholder="Enter your email" ng-model="ctrl.user.email" style="color: black;" required>
        <span ng-if="sign.email.$invalid && sign.email.$touched">
            The address should look like: name@domain.com 
        </span>
        <br>
        <input type="text" name="phone" placeholder="Enter your phone" ng-model="ctrl.user.phone" style="color: black;" required size="10">
        <span ng-if="sign.phone.$invalid && sign.phone.$touched">
            Phone must have 10 digits.
        </span>
        <br>

        <input type="text" name="menu" placeholder="Enter your favorite menu" ng-model="ctrl.user.menu" style="color: black;" required>

        <button ng-disabled="sign.$invalid" ng-click="ctrl.submit()">
            Submit!
        </button>
    </form>
</div>